.search_bar {
    font-size: 20px;
    flex: 1;
    margin-left: 12px;
    height: 36px;
    padding-left: 10px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
}
.search_bar::placeholder {
    font-family: Roboto, Arial;
    font-size: 16px;
}
.header {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.leftsec {
    display: flex;
    align-items: center;

}
.midsec {
    display: flex;
    align-items: center;
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
}
.rightsec {
    background-color: lightblue;
    width: 200px;
}
.hummenu {
    height: 25px;
    margin-left: 24px;
    margin-right: 20px;
}
.youtubelogo {
    height: 25px;
}
.searchbut {
    height: 40px;
    width: 66px;
    background-color: rgb(240, 240, 240 );
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    margin-left: -1px;
    margin-right: 10px;
}
.voicebut {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(240, 240, 240 );
}
.searchicon {
    height: 25px;
    margin-top: 4px;
}
.voiceicon {
    height: 24px;
    margin-top: 4px;
}